@import "../../../scss/lib/theme/vars";

.current-item {
  background-color: $medgray;
  border-radius: 3px;
  margin: 10px 0;
  padding: 3%;
  line-height: 5vw;
}

.item-label {
  font-weight: 600;
  // padding: 2% 0;
  // padding: 5% 0;
}
