<section class="home">

  <section class="accordion">
    <div class="accordion-test">
      <uib-accordion>
        <p uib-accordion-group class="panel-default" heading="About CFGram">Lorem ipsum dolor sit amet.</p>
        <p uib-accordion-group class="panel-default" heading="About Our Team">Consectetur adipiscing elit. Nullam non massa et elit mattis.</p>
        <p uib-accordion-group class="panel-default" heading="Help">Imperdiet eu in urna. Ut vulputate feugiat velit.</p>
      </uib-accordion>
    </div>
  </section>

  <create-gallery></create-gallery>

  <div class="search-galleries">
    <span>Search Galleries.</span>
    <input class="input-std" ng-model="homeCtrl.gallerySearchTerm" type="text" placeholder="search">
  </div>

  <span>Galleries.</span>


  <div class="gallery-item-container">
    <ul>
      <gallery-item
        ng-repeat="item in homeCtrl.galleries | gallerySearch: homeCtrl.gallerySearchTerm" gallery="item"
        delete-done="homeCtrl.galleryDeleteDone(galleryData)"
        ng-click="homeCtrl.currentGallery = item">
      </gallery-item>
    </ul>
  </div>

  <thumbnail-container ng-if="homeCtrl.currentGallery" gallery="homeCtrl.currentGallery"></thumbnail-container>

</section>
