<section class="edit">

  <form class="edit-gallery"
    name="editGallery"
    ng-submit="editGalleryCtrl.updateGallery()"
    no-validate>

    <fieldset>
      <div class="test">
        <span class="item-label">name:</span>
        <input name="name" class="input-gallery" ng-model="editGalleryCtrl.gallery.name">
      </div>
    </fieldset>

    <fieldset>
      <div class="test">
        <span class="item-label">description:</span>
        <input name="desc" class="input-gallery" ng-model="editGalleryCtrl.gallery.desc">
      </div>
    </fieldset>

    <button class="btn-update-gallery">update</button>

  </form>

</section>
