<section class="create-album">

  <span>Create a new album.</span>
  <form name="createAlbumForm"
    class="album-form"
    ng-submit="createAlbumCtrl.createAlbum()">

    <fieldset>
      <label for="name"></label>
      <input name="name" class="input-std" type="text" placeholder="gallery name" ng-model="createAlbumCtrl.album.name" required>
    </fieldset>

    <fieldset>
      <label for="desc"></label>
      <input name="desc" placeholder="gallery description" class="input-std" ng-model="createAlbumCtrl.album.desc" required>
    </fieldset>

    <button class="btn-std" type="submit">create album</button>
  </form>

  <div class="clearfix"></div>
</section>
