<section class="create-album">
  <form name="createAlbumForm"
    class="album-form"
    ng-submit="createAlbumCtrl.createAlbum()">

    <fieldset>
      <label for="name">name</label>
      <input name="name" class="input-std" type="text" ng-model="createAlbumCtrl.album.name" required>
    </fieldset>

    <fieldset>
      <label for="desc">description</label>
      <input name="desc" class="input-std" ng-model="createAlbumCtrl.album.desc" required>
    </fieldset>

    <button class="btn-std" type="submit">create album</button>
  </form>
</section>
