@import "../../scss/lib/theme/vars";

.join-inner {
  // background: orange;
  // float: right;
}

.sign-container {
  // background-color: orange;
  // display: block;
  float: right;
  // width: auto;
  white-space: nowrap;
  // margin: 0px 1px;
  // padding: 2% 1px;
  font-size: 2.4vw;
}
